@theme '~/.config/rofi/themes/sane.rasi'
/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
    show-icons:                 true;
    display-drun:               " Apps";
	drun-display-format:        "{name}";
}

window {
     width:		90%;
}

listview {
     enabled:		true;
     columns:		5;
     cycle:		true;
     layout:		horizontal;
}

element {
     enabled:		true;
     spacing:		10px;
}

element-icon {
     size:		300px;
}
